.footer {
  // padding: 0 0 0 3%;
  background-color: #bacc81;
  // position: sticky;
  // bottom: 0;
  // width: 100%;
  z-index: 12;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-title {
  color: #3d550c;
  margin: 10px 0;
}

.footer-contact {
  margin: 0.5rem 2rem;
}

#footer-email {
  margin-bottom: 1.5rem;
}

.footerLink__wrapper {
  display: flex;
}

.footer-link {
  margin: 0 0.3rem;
}

.bottom-item {
  padding: 0 0 20px 0;
}
