.footer {
  padding: 0 0 0 3%;
  background-color: #bacc81;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 12;
}

.footer-title {
  color: #3d550c;
  margin: 10px 0;
}

.bottom-item {
  padding: 0 0 20px 0;
}
