.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 3%;
  background-color: #bacc81;
  z-index: 2;
}

a {
  text-decoration: none;
  border: none;
  color: #2e765e;
}

.header-links {
  padding: 0 10%;
}

.home-link {
  margin: 0 5%;
}

.project-link {
  margin: 0 5%;
}

.resume-link {
  margin: 0 0 0 5%;
}
