.home {
  margin: 8rem 0 0 5%;
}

.image-vancouver {
  width: 80%;
  height: 400px;
  background-image: url(https://source.unsplash.com/1600x900/?vancouver);
  margin-top: 30px;
  border-radius: 25px;
}
