.resume {
  margin: 0 0 0 3%;
  display: flex;
  h1,
  h2 {
    margin: 20px 0 10px 0;
  }
  p {
    margin: 0;
  }
  li {
    margin: 1rem 0;
  }
}

@media (max-width: 45rem) {
  .resume {
    display: block;
  }
}

.background-container-first {
  width: 50vw;
}

.soft-title {
  color: #821d30;
}

.technical-title {
  color: #0c2d48;
}

.soft-skills {
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #e7d2cc;
    opacity: 0.7;
    z-index: 1;
  }
}

.technical-skills {
  margin-bottom: 3rem;
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #b1d4e0;
    opacity: 0.7;
    z-index: 1;
  }
}
