.resume {
  margin: 8rem 0 0 5%;
  h1,
  h2 {
    margin: 20px 0 10px 0;
  }
  p {
    margin: 0;
  }
}

.background-container {
  width: 70%;
  margin: 0 0 15rem 0;
}

// .skills {
//   span {
//     padding: 5px;
//     margin: 5px;
//     display: inline-block;
//     background-color: #b9b7bd;
//     opacity: 0.7;
//   }
// }
li {
  margin: 1rem 0;
}

.soft-title {
  color: #821d30;
}

.technical-title {
  color: #0c2d48;
}

.soft-skills {
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #e7d2cc;
    opacity: 0.7;
    z-index: 1;
  }
}

.technical-skills {
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #b1d4e0;
    opacity: 0.7;
    z-index: 1;
  }
}
