.projectDetail__container {
  text-align: center;
  background-color: $transparent-green;
  color: white;
}

.projectDetail__wrapper {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  h1 {
    padding-top: $s-size;
    margin: 0;
    font-size: $xxL-size;
  }
  h2 {
    font-size: $xl-size;
  }
  h3 {
    font-size: $l-size;
  }
  p,
  a {
    font-size: $m-size;
  }
  p {
    margin-bottom: 0;
  }
}

.project__content {
  margin: $s-size;
  a {
    padding: 0.3rem $s-size;
    background-color: $transparent-white;
    border-radius: 3px;
    color: white;
  }
}

@media (max-width: $desktop-breakpoint) {
  .slide-image {
    width: 90%;
    height: 90%;
  }
  .projectDetail__wrapper {
    padding: 8rem 0;
    h1 {
      font-size: $xl-size;
    }
    h2 {
      font-size: $l-size;
    }
    h3 {
      font-size: $m-size;
    }
    p,
    a {
      font-size: $m-size;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.detailLink__wrapper {
  display: flex;
  justify-content: center;
}

.backButton__container {
  padding: $s-size 0;
  padding-bottom: $m-size;
}

.back-button {
  padding: 0.2rem $s-size;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}

.swiper-button-prev {
  color: white;
  margin-left: 10%;
}

.swiper-button-next {
  color: white;
  margin-right: 10%;
}

.fas {
  padding: 0 0.5rem;
}
