.projectDetail__container {
  display: flex;
  justify-content: center;
}

.projectDetail__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  p,
  a {
    font-size: 2rem;
  }
}

.detailLink__wrapper {
  display: flex;
}

.project__content {
  margin: 1rem;
}
