.project-item {
  display: flex;
  flex-wrap: wrap;
}

.project-item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.28rem;
  margin: auto;
}

.project-link__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue-ash;
  color: white;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);

  &:hover {
    opacity: 0.8;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.5s;
    z-index: 10;
  }
}

.project-image {
  border-radius: 5px;
}

@media (max-width: $mobile-breakpoint) {
  .project-image {
    width: 100%;
    margin: 0;
  }
}
