.header {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  background-color: #bacc81;
  z-index: 12;
}

a {
  text-decoration: none;
  border: none;
  color: #2e765e;
}

.header-links {
  padding: 0 3%;
}

.home-link {
  margin: 0 7%;
}

.project-link {
  margin: 0 7%;
}

.resume-link {
  margin: 0 0 0 7%;
}

@media (max-width: 45rem) {
  .header-links {
    padding: 0;
    margin: 0 2rem;
  }
  .home-link {
    margin: 0;
    padding-right: 7%;
  }
  .project-link {
    margin: 0;
    padding-right: 7%;
  }
  .resume-link {
    margin: 0;
  }
}
