.header {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  background-color: $dull-yellowGreen;
  z-index: 12;
}

.header-links {
  display: flex;
}

.home-link {
  margin: 0 20rem;
}

.project-link {
  margin-right: 20rem;
}

@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .home-link {
    margin: 0;
    padding-right: 7%;
  }
  .project-link {
    margin: 0;
    padding-right: 7%;
  }
  .resume-link {
    margin: 0;
  }
}

@media (max-width: $mobile-breakpoint) {
  .header-links {
    font-size: 1.2rem;
    padding: 0;
    margin: 0 $m-size;
  }
  .home-link {
    margin: 0;
    padding-right: 7%;
  }
  .project-link {
    margin: 0;
    padding-right: 7%;
  }
  .resume-link {
    margin: 0;
  }
}
