.home {
  margin: 0;
  font-size: $m-size;
  font-family: Noteworthy;
}

.name {
  margin-bottom: $s-size;
}

.introduce__container {
  background-color: $light-white;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

@keyframes move {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

.image-vancouver {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      140deg,
      #00f3ffa0,
      #0028b960 40%,
      #00f3ff60 60%,
      #00f3ffa0
    ),
    url(https://source.unsplash.com/1500x600/?vancouver);

  animation: move 20s infinite;
}

.image-placeholder {
  margin: 0;
  padding: 0;
  background-image: url(https://source.unsplash.com/iXzqNVPwK8k);
}
