.home {
  margin: 0;
  font-size: $m-size;
  font-family: Noteworthy;
}

.name {
  margin-bottom: $s-size;
}

.introduce__container {
  background-color: $light-white;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

@keyframes move {
  0% {
    background-size: 100% auto;
  }
  10% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

.image-vancouver {
  margin: 0;
  padding: 0;
  height: 72vh;
}

// desktop size
@media (min-width: $tablet-breakpoint) {
  .image-vancouver {
    animation: move 20s linear forwards infinite;
    background-image: linear-gradient(
        140deg,
        $bright-blue-green,
        $deep-blue 40%,
        $dull-blue-green 60%,
        $bright-blue-green
      ),
      url(https://source.unsplash.com/1500x800/?vancouver);
  }
}

// tablet size
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .introduce__container {
    height: 85vh;
  }
  .image-vancouver {
    animation: move 20s linear forwards infinite;
    background-image: linear-gradient(
        140deg,
        $bright-blue-green,
        $deep-blue 40%,
        $dull-blue-green 60%,
        $bright-blue-green
      ),
      url(https://source.unsplash.com/1200x1250/?vancouver);
    height: 85vh;
  }
}

// mobile size
@media (max-width: $mobile-breakpoint) {
  .introduce__container {
    height: 75vh;
  }
  .image-vancouver {
    animation: move 20s linear forwards infinite;
    background-image: linear-gradient(
        140deg,
        $bright-blue-green,
        $deep-blue 40%,
        $dull-blue-green 60%,
        $bright-blue-green
      ),
      url(https://source.unsplash.com/600x1100/?vancouver);
    height: 75vh;
  }
}
