.home {
  margin: 0;
  font-size: $m-size;
  font-family: Noteworthy;
}

.name {
  margin-bottom: $s-size;
}

.introduce__container {
  background-color: $light-white;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.image-vancouver {
  margin: 0;
  padding: 0;
  height: 72vh;
  object-fit: cover;
  background-image: url(https://source.unsplash.com/1600x900/?vancouver);
}
