.resume {
  font-family: "Lato", sans-serif;
  margin: 0 0 0 3%;
  display: flex;
  h1,
  h2 {
    margin: 2rem 0 1rem 0;
  }
  p {
    margin: 0;
  }
  li {
    margin: 1rem 0;
  }
}

.background-container-first {
  width: 50vw;
}

@media (max-width: 45rem) {
  .resume {
    display: block;
    margin: 0;
    margin: 0 1rem;
  }

  .background-container-first {
    width: 90vw;
  }
}

.soft-title {
  color: $dull-red;
}

.technical-title {
  color: $dull-blue;
}

.soft-skills {
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: $faint-red;
    opacity: 0.7;
    z-index: 1;
  }
}

.technical-skills {
  margin-bottom: 3.5rem;
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: $faint-blue;
    opacity: 0.7;
    z-index: 1;
  }
}
