.resume {
  font-family: "Lato", sans-serif;
  margin: 0 0 0 3%;
  display: flex;
  h1,
  h2 {
    margin: $m-size 0 $s-size 0;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: $l-size;
  }
  p {
    margin: 0;
  }
  li {
    margin: $s-size 0;
  }
}

.background-container-first {
  width: 50vw;
}

@media (max-width: $desktop-breakpoint) {
  .resume {
    display: block;
    margin: 0;
    margin: 0 $s-size;

    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 2.5rem;
    }
  }

  .background-container-first {
    width: 90vw;
  }
}

.soft-title {
  color: $dull-red;
}

.technical-title {
  color: $dull-blue;
}

.soft-skills {
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: $faint-red;
    opacity: 0.7;
    z-index: 1;
  }
}

.technical-skills {
  margin-bottom: 3.5rem;
  span {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: $faint-blue;
    opacity: 0.7;
    z-index: 1;
  }
}
