* {
  margin: 0;
  cursor: none;
}

a {
  text-decoration: none;
  border: none;
  color: white;
}

html {
  font-size: 62.5%;
}

li,
ul {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $m-size;
  background-color: #fdff8f;
  overflow-y: scroll;
}

.is-active {
  font-weight: bold;
}
